<fieldset>
  <p><b> Not shared i18n engine</b></p>
  <p>
  'test' key translation: <b>{{t 'test'}}</b>  (Should be "Test Application translation")
  </p>
  <p>
    'engine-test' key translation: <b>{{t 'engine-test'}}</b>
  </p>
</fieldset>
{{outlet}}