<fieldset>
  <p><b> Shared i18n engine </b></p>
  <p>
    'test' key translation: <b>{{t 'test'}}</b>
  </p>
  <p>
    'engine-test' key translation: <b>{{t 'engine-test'}}</b> (Should be "Test Engine translation")
  </p>
</fieldset>
{{outlet}}