{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
<h1>
Language: {{t 'language'}}
</h1>
{{#link-to "test-engine"}}
  Engine
{{/link-to}}
{{outlet}}